* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(181, 214, 217, 0.7), rgba(4, 9, 30, 0.7)), url(images/IMG_9668.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 3.1em;
    border-radius: 70%;
}

.header a img {
    transition: transform 0.3s ease;
}

.header a img:hover {
    transform: scale(1.3);
}

.nav-links {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.nav-links a {
    padding: 1em;
    text-decoration: none;
    color: white;

}

.nav-links a::after {
    background: white;
}

.nav-links a:hover {
    transform: scale(1.4);
    color: cyan;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(0%, 100%);
    text-align: left;
}


.text-box h2 {
    font-size: 4em;
}

#description {
    font-size: 2em;
}

.deck-text {
    text-align: left;
    left: 0%;
}

.portfolio-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: inset white;
    border-radius: 0.6em;
    padding: 1.5% 1.5%;
    font-size: 1.8em;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.deck {
    border-radius: 20px;
    font-size: 30px;
}

.portfolio-button:hover {
    border: 0.5% solid cyan;
    background: rgb(31, 224, 234);
    transition: 1s;
}

nav .fa {
    display: none;
}

.home-1 {
    width: 100%;
    margin: auto;
}

.home-1 h1 {
    margin-top: 5%;
    text-align: center;
}

.introduction {
    margin: auto;
    width: 80%;
    font-size: 1.15em;
    margin-top: 2%;
}

.about-header{
    color: red;
}

.skills-header{
    margin-top:2%; 
    color:red;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-weight: 400;
    margin: 3% 0;
}

h4 {
    text-align: left;
    margin: 20px 20px;
}

p {
    color: black;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    padding: 10px;
}

.skills {
    text-align: center;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    font-size: 1.4em;
}

.card {
    padding: 1% 1%;
    border: inset 0.5px;
    border-radius: 0.8em;
    box-shadow: 1px 1px 3px 3px grey;
    width: 25%;
    background-color: aliceblue;
}

.card:hover {
    background-color: rgb(31, 224, 234);
}

.language-img {
    height: 0.9em;
    width: 0.8em;
}

.footer nav {
    align-items: center;
    color: red;
    cursor: pointer;
    display: flex;
    width: 8%;
    padding-left: 46%;
}

.links {
    padding-top: 3%;
    font-size: 1.2em;
}

.footer a:link {
    color: red;
    text-decoration: none;
}

.footer a:visited {
    color: darkred;
    text-decoration: none;
}

.footer a:hover {
    color: orangered;
    text-decoration: none;
}

.sub-header {
    height: 10vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
    text-align: center;
    color: lightblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sub-header h1 {
    margin-top: 93px;
}

.sub-header a img:hover {
    transform: scale(1.2);
}

.links {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.about-file {
    background-image: linear-gradient(to bottom, lightblue, rgba(216, 213, 201, 0.7));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-me {
    width: 100%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.about-me h1 {
    margin-bottom: 10%;
}

.about-me a:link {
    color: red;
    text-decoration: none;
}

.about-me a:visited {
    color: darkred;
}

.about-me a:hover {
    color: orange;
}

.project {
    border: outset lightblue 0.3em;
    box-shadow: 3px 3px 3px 3px purple;
    border-radius: 2em;
    height: 25em;
    width: 40em;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    font-size: 1em;
}

#ai {
    background-image: url(images/ai2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: inherit;
    box-sizing: border-box;
}

.info {
    background-color: rgba(32, 8, 8, 0.983);
    color: white;
    padding: 10px 20px;
    border-radius: 0.5em;
    text-decoration: none;
    position: absolute;
    bottom: 2%;
    left: 3%;
}

#rb {
    background-image: url(images/rb.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: inherit;
    box-sizing: border-box;
}

#bj {
    background-image: url(images/bj.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: inherit;
    box-sizing: border-box;
}

#calc {
    background-image: url(images/calc.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: inherit;
    box-sizing: border-box;
}

#sat {
    background-image: url(images/sat.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: inherit;
    box-sizing: border-box;
}

#triviaWhiz {
    background-image: url(images/trivia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: inherit;
    box-sizing: border-box;
}

#chat {
    background-image: url(images/chat.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    border-radius: inherit;
    box-sizing: border-box;
}

@media(max-width: 800px) {
    .header {
        min-height: 80vh;
    }

    .nav-links a {
        color: white;
    }

    .text-box h2 {
        font-size: 36px;
    }

    .portfolio-button {
        font-size: 25px;
    }

    .nav-links a {
        display: block;
    }

    nav img {
        width: 2.2em;
        border-radius: 70%;
    }

    nav .fa {
        display: block;
        color: blue;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links a {
        padding: 10px;
    }

    .home-1 h1 {
        margin-top: 8%;
        font-size: 18px;
    }

    .introduction {
        margin-top: 8%;
        width: 90%;
        font-size: 16px;
    }

    .home-1 h1 {
        font-size: 30px;
    }

    .about-me h1 {
        font-size: 30px;
    }

    .footer .links {
        font-size: 16px;
    }

    .footer .icons {
        margin-top: 7%;
        padding-left: 35%;
        width: 30%;
        display: flex;
    }

    .project {
        border: outset lightblue 0.3em;
        box-shadow: 2px 2px 2px 2px purple;
        border-radius: 1em;
        height: 15em;
        width: 24em;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
    }

    .card {
        padding: 1% 1%;
        border: inset 0.5px;
        border-radius: 0.8em;
        box-shadow: 1px 1px 3px 3px grey;
        width: 30%;
        background-color: aliceblue;
    }
}